.wrapper-lor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-1-right {
    height: 400px;
    width: 100%;
    grid-column: 2
}

.img-2-right {
    height: 200px;
    width: 100%;
}

.nestedRight {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
}